.bat
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.pyw
*.pyz
*.egg-info/
*.egg
*.manifest
*.spec
*.dist-info/
*.so
*.dylib
*.dll
*.lib
*.exp
*.pdb
*.idb
*.ilk
*.ncb
*.sbr
*.sdf
*.suo
*.user
*.opensdf
*.VC.db
*.VC.vcproj
*.VC.user
*.VC.vcproj.suo
*.VC.vcproj.scc